.titlePage {
    text-align: center;
    font-weight: bold;
    margin-top: 50px
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;

}



#size {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#size button {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #495057;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
}


#color {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#color div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#color button {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #495057;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: 0.3s;
}





/* Product List */

.title-filter {
    margin-top: 20px;
    font-size: .875rem;
    font-weight: 700;
    margin: .75rem 0;
    opacity: .4;
}


.image-container {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 10px;

}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease;
    border-radius: inherit;

}

.image-container .image-1 {
    opacity: 1;
    /* First image is visible by default */
}

.image-container:hover .image-2 {
    opacity: 1;
    /* Second image fades in on hover */
}

.imageAndSize-container {
    display: none;
}

.imageAndSize-container.active {
    display: block;
}

.color-name {
    display: none;
}

.color-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.hex-code {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
    border: 2px solid transparent;
}

.colorId {
    display: none;
}

.hex-code:hover {
    border: 2px solid rgb(45, 43, 43);
}

#productDetails {
    overflow-y: hidden;
}

.product-item {
    position: relative;
}

.size-list {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    background-color: rgba(215, 213, 212, 0.85);
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    display: none;
    z-index: 3;


}

.size-list button {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #495057;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
    font-weight: 600;
}

.size-list button:hover {
    background-color: black;
    color: #fff;
}

@keyframes hoverProduct-Product {
    from {
        opacity: 0;
        top: 100%;
    }

    to {
        opacity: 1;
        top: 50%;

    }

}

@keyframes notHoverProduct-Product {
    from {
        opacity: 1;
        top: 50%;

    }

    to {
        opacity: 0;
        top: 100%;
    }

}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination ul {
    display: flex;
    list-style: none;
    gap: 5px;
    padding: 0;
}

.pagination div {
    font-size: 14px;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #007bff;
    cursor: pointer;
}

.pagination div.active {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.pagination div:hover {
    background-color: black;
    color: #fff;
}


.product-item {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.product-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.name-product {
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #231f20;
}

.priceDiv {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.priceDiv .price {
    font-weight: 800;
    color: #242424;
    margin-right: 10px;
}

.priceDiv .discount {
    padding: 2px 5px;
    background-color: #273bcd;
    color: #f8f9fa;
    font-weight: 700;
    border-radius: 5px;
    margin-right: 10px;
}

.priceDiv .original-price {
    font-weight: 700;
    text-decoration: line-through;
    margin-left: 5px;
    color: #c8c8c8;
}