* {
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}


a {

    color: black;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: 400;
}


a:hover {
    text-decoration: none;
}

/* loading */
#loadingAnimation {
    width: 100%;
    height: 22px;
    border-radius: 40px;
    color: #514b82;
    border: 2px solid;
    position: relative;
    overflow: hidden;
}

#loadingAnimation::before {
    content: "";
    position: absolute;
    margin: 2px;
    width: 14px;
    top: 0;
    bottom: 0;
    left: -20px;
    border-radius: inherit;
    background: currentColor;
    box-shadow: -10px 0 12px 3px;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%, -30px 50%);
    animation: loadingAnimation 1s infinite linear;
}

@keyframes loadingAnimation {
    100% {
        left: calc(100% + 20px)
    }
}



/* ------------input search---------*/
.input-container {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    padding: 10px 20px 0px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

#inputName i {
    position: absolute;
    right: 20px;
    color: #999;
    font-size: 22px;
    top: calc(50% - 10px);
    transform: translateX(-50%);
}

#inputName i:hover {
    color: #000000;
}

/* Input field styling */
.floating-input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

/* Label styling */
.floating-label {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999;
    font-size: 16px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

/* Input focus and placeholder-shown effect */
.floating-input:focus {
    border-color: #007bff;
}

.floating-input:focus~.floating-label,
.floating-input:not(:placeholder-shown)~.floating-label {
    top: 0;
    left: 20px;
    font-size: 12px;
    color: #007bff;
    transform: translateY(-0%);
}

.fa-circle-right {
    position: relative;
    /* Needed to make 'top' positioning work */
    transition: top 0.3s ease;
    /* Smooth transition for the top property */
}

/* ------------  footer  ---------*/
html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    flex: 1;
    padding-bottom: 20px;
}

footer {
    padding-bottom: 18px;
    background-color: rgb(245 245 247);
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
}

.header-footer {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
}

.content-footer {
    padding: 12px 0;
}